section{
  margin: 0 auto;
  width: 400px;
}
.title{
  font-size: 28px;
  font-weight: 700px;
  line-height: 36px;
}
.button{
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: underline;
  cursor: pointer;
}
.button:first-child{
  width: 113px;
}
.button:last-child{
  width: 145px;
}
.button.active{
  text-decoration: none;
  font-weight: 700;
}
.buttons > span{
  margin: 0 5px;
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}